/* Contenedor principal */
.charlas-container {
  padding: 20px;
  background-color: #f8f9fa;
  text-align: center;
  position: relative;
  margin-left: 100px;
}

/* Botón de regreso */
.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #007bff;
  cursor: pointer;
}

/* Listado de charlas */
.charlas-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 40px;
  /* Espacio para el contador */
}

/* Estilo de cada charla */
.charla-card {
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.charla-card:hover {
  transform: scale(1.01);
}

/* Charla Seleccionada en Rondas Cerradas */
.charla-seleccionada {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ff0000;
  border-radius: 10px;
  background-color: #ffe6e6;
}

.charla-seleccionada .charla-card {
  background-color: #fff5f5;
}


/* Efecto para charla votada */
.charla-card.votada {
  background-color: #e7ffe7;
}

/* Imagen de la charla */
.charla-image {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  background-color: #f0f0f0;
}

/* Información de la charla */
.charla-info {
  text-align: left;
  flex-grow: 1;
  margin-left: 15px;
}

/* Botón de votar */
.vote-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.vote-btn.active {
  background-color: #007bff;
}

.vote-btn:hover {
  background-color: #218838;
}

/* Responsive diseño para dispositivos móviles */
@media (max-width: 768px) {
  .charla-card {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .charla-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .charla-info {
    margin-left: 0;
  }

  .vote-btn {
    margin-top: 15px;
    width: 100%;
  }
}