.menu {
    width: 80px;
    height: 100%;
    background-color: #21264d;
    color: white;
    position: fixed;
    align-items: center;
    transition: 1s;
}

.menu:hover{
    width: 200px;
    transition: 1s;
}

.barra-iconos{
    position: absolute;
    left: 9%;
    width: 80px;
    height: 90vh;
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
    display: block;
    flex-direction: column;
}

.logo{
    position: relative;
    margin-left: 8px;
    width: 48px;
    background-color: white;
    border-radius: 100%;
    margin-bottom: 50px;
}
.txt-icon{
    position: absolute;
    float: right;
    z-index: 1;
    color: #21264d;
    font-size: 16px;
}

.txt-icon-profile{
    position: absolute;
    float: right;
    left: 0px;
    z-index: 1;
    color: #21264d;
    font-size: 16px;
}

.icon-box{
    z-index:-10;
    padding-top: 5px;
    margin-bottom: 20px;
    width: 64px;
    height: 40px;
}

.icon-box-profile{
    z-index:10;
    padding-top: 5px;
    margin-bottom: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    border-radius: 50px;
    margin-left: 5px;
}

.icon-box-profile:hover{
    transition: 0.6s;
    background-color: #2d356d;
}

.icon-box:hover {
    transition: 0.6s;
    border-radius: 10%;
    width: 140px;
    background-color: #2d356d;
}

.icons{
    position: absolute;
    z-index: 2;
    width: 32px;
    margin-left: 15px;
}
.boton{
    background-color: lightcyan;
    border: 0px;
    font-size: 10px;
    width: 60px;
    margin-left: 2px;
}

.user-profile-image{
    position: absolute;
    align-items: center;
    z-index: 2;
    width: 40px;
    height: 40px;
    left: 5px;
    border-radius: 50%;
}