body {
  background-color: #f8f9fa;
  /* Color claro que contrasta con los botones */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 0;
  background-color: #ffffff;
  /* Fondo blanco para el formulario */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.descripcion {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff;
  /* Fondo blanco dentro del formulario */
}