/* Importa la fuente personalizada */
@font-face {
    font-family: 'HappyTown';
    src: url('../assets/fonts/HappyTown.otf') format('opentype');
}

@font-face {
    font-family: 'JanuaryNight';
    src: url('../assets/fonts/JanuaryNight.ttf') format('truetype');
}

/*CSS SHAPED FORM*/
.custom-shape-divider-top-1738155079 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1738155079 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1738155079 .shape-fill {
    fill: #21264D;
}

/*CSS Home*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}
.home_left .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Animaciones */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Estilos para pantallas con un ancho menor a 768 píxeles */
@media (max-width: 767px) {
    .home_container {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center; /* Alinea verticalmente */
        justify-content: center; /* Alinea horizontalmente */
        margin-left: 80px; /* El mismo ancho que el menú */
        width: calc(100% - 80px); /* Resta el ancho del menú */
        padding: 20px;
    }
    .home_left {
        text-align: center;
        margin: 30% auto 10% auto;
        animation: slideInUp 1s ease-out; /* Aplica la animación */
    }

    .home_left h1{
        font-family: 'HappyTown', Arial, sans-serif; /* Aplica la fuente personalizada */
        font-size: 56px;
    }

    .home_left p{
        font-family: 'JanuaryNight', Arial, sans-serif; /* Aplica la fuente personalizada */
        font-size: 32px;
    }
    .home_right img {
        width: 100%;
        animation: slideInRight 1s ease-out; /* Aplica la animación */
    }

}

@media (min-width: 768px) {
    .home_container {
        display: flex;
        align-items: center; /* Alinea verticalmente */
        justify-content: space-between; /* Alinea horizontalmente */
        margin-left: 80px; /* El mismo ancho que el menú */
        width: calc(100% - 80px); /* Resta el ancho del menú */
        min-height: 100vh;
        padding: 20px;
    }

    .home_left {
        width: 49%;
        text-align: center;
        animation: slideInUp 1s ease-out; /* Aplica la animación */
    }

    .home_left h1{
        font-family: 'HappyTown', Arial, sans-serif; /* Aplica la fuente personalizada */
        font-size: 56px;
    }

    .home_left p{
        font-family: 'JanuaryNight', Arial, sans-serif; /* Aplica la fuente personalizada */
        font-size: 32px;
    }

    .home_right {
        width: 49%;
        animation: slideInRight 1s ease-out; /* Aplica la animación */
    }
    .home_right img {
        width: 100%;
    }
    .home_cb {
        clear: both;
    }
}
